---
import FormattedDate from "@components/FormattedDate.astro";
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content"
import Home from "@components/Home.astro";

const posts = await getCollection("posts", ({ data }) => {
	return data.lang == "en"
});
posts.sort((a, b) => Date.parse(b.data.pubDate.toString()) - Date.parse(a.data.pubDate.toString()));

const latestPost = posts[0];
const { Content } = await latestPost.render()
---

<Layout title={latestPost.data.title} lang={latestPost.data.lang}>
	<main>
		<Home title={latestPost.data.title} lang={latestPost.data.lang} />
		<Content />
		<br>
		<p><FormattedDate date={latestPost.data.pubDate} lang={latestPost.data.lang}/></p>
	</main>
</Layout>
