---
import FormattedDate from "@components/FormattedDate.astro";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Home from "@components/Home.astro";

const { slug } = Astro.params;
const posts = await getCollection("posts");
const post = posts.find((post) => post.slug === slug);

const redirectPage = slug.includes("en/") ? "/en/404" : "/404";
if (!post) return Astro.redirect(redirectPage);

const { Content } = await post.render();
---

<Layout title={post.data.title} lang={post.data.lang}>
  <main>
    <Home title={post.data.title} lang={post.data.lang} />
    <Content />
    <br />
    <p><FormattedDate date={post.data.pubDate} lang={post.data.lang} /></p>
  </main>
</Layout>
