---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import Home from "../components/Home.astro";
import sandboarding from "../images/martin-sandboarding.jpg";

const title = "About me";
const lang = "en";
---

<Layout title={title} lang={lang}>
  <main>
    <Home title={title} lang={lang} />
    <p>
      You have arrived in this site to know more about me probably. Let's find
      out.
    </p>
    <h2>Summary</h2>
    <p>
      This is Martin Ignacio Morales, you can call me Martín (Marteen) o Nacho
      (even someone has called me Martinacho). I'm mechatronic engineer however
      I work as Android mobile developer since 2020. Currently I'm based in
      Mexico.
    </p>
    <figure class="m-o" data-template="with">
      <div class="m-m">
        <img
          src={sandboarding.src}
          alt="Me in a desertic trip"
          class="img"
          loading="lazy"
          height="600"
          width="610"
        />
      </div>
      <figcaption>Sandboarding dunes, 2023</figcaption>
    </figure>
    <h2>Being a little more detailed</h2>
    <p>
      I was born on June 17th, in Guadalajara, Mexico. I've always been a little
      impatient, curious about how things work, and I used to disassemble
      calculators, watches and other devices. I was one of those who finished
      school activities quickly so they could do other things like draw or play
      with classmates.
    </p>
    <p>
      I graduated from a preparatory program in Computer Science, where I
      discovered a passion for programming and software creation. However, I
      also enjoyed electronics and circuits, occasionally experimenting with
      capacitors.
    </p>
    <p>
      Then I graduated from Mechatronic Engineering with the dream of working in
      robotics, but after realizing the opportunities in the labor market, I
      decided to return to software development.
    </p>
    <p>
      After finishing my engineering degree, I began working in small businesses
      to increase my work experience, but unfortunately, I did not find my best
      professional version. With the arrival of the covid pandemic in 2020, I
      changed my professional career againg in which I finally feel good and
      enjoy what I do as an Android mobile developer.
    </p>
    <p>
      I currently work as an Android developer for a company from home (thank
      you remote job), occasionally visiting the office for specific reasons.
    </p>
    <h2>Connect</h2>
    <p>
      I spend most of my time at home, but I occasionally travel or engage in
      sports.
    </p>
    <p>
      However, I am occasionally on Instagram, writing code and making projects
      on Github or simply playing videogames in the Nintendo Switch.
    </p>
  </main>
</Layout>
