---
import PostHeader from "@components/PostHeader.astro"
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content"

const posts = await getCollection("posts", ({ data }) => {
	return data.lang == "es"
});
posts.sort((a, b) => Date.parse(b.data.pubDate.toString()) - Date.parse(a.data.pubDate.toString()));

const latestPost = posts[0];
const { Content } = await latestPost.render();
---

<Layout title={latestPost.data.title} lang={latestPost.data.lang}>
	<main>
		<PostHeader title={latestPost.data.title} date={latestPost.data.pubDate} lang={latestPost.data.lang}/>
		<Content />
	</main>
</Layout>
