---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import PostHeader from "@components/PostHeader.astro";

const title = "What I'm doing now?";
const date = new Date("2024-03-27");
const lang = "en";
---

<Layout title={title} lang={lang}>
  <main>
    <PostHeader title={title} date={date} lang={lang} />
    <ul>
      <li>
        I'm still working on <a href="https://www.royalcaribbean.com/"
          >cruises project</a
        >
      </li>
      <li>Surviving post-travel feeling (I want to travel again 🥲)</li>
      <li>
        First round in volleyball tournement, we are leaders and waiting next
        match. We have registered in volleyball spring cup.
      </li>
      <li>
        Finishing <a
          href="https://www.goodreads.com/book/show/4865.How_to_Win_Friends_and_Influence_People"
          >How to Win Friends and Influence People</a
        >
      </li>
      <li>Kasacho operation (waiting third attempt)</li>
      <li>
        I'm still developing this site, I've changed UI components and added new
        pages
      </li>
      <li>I got a ticket for Talent Land event this year (in April)</li>
    </ul>
  </main>
</Layout>
