---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import PostHeader from "@components/PostHeader.astro";

const title = "What I'm doing now?";
const date = new Date("2024-03-14");
const lang = "en";
---

<Layout title={title} lang={lang}>
  <main>
    <PostHeader title={title} date={date} lang={lang} />
    <ul>
      <li>
        I'm still working on <a href="https://www.royalcaribbean.com/"
          >cruises project</a
        >
      </li>
      <li>Travelling to Cuetzalan (my new favorite place? I'll post my experiences)</li>
      <li>
        Volleyball team remains undefeated, we found a place where team can train without distractions. New tournament is coming
      </li>
      <li>
        Reading <a href="https://www.goodreads.com/book/show/4865.How_to_Win_Friends_and_Influence_People"
          >How to Win Friends and Influence People</a
        >
      </li>
      <li>Kasacho operation (waiting second attempt)</li>
      <li>I'm still developing this site. I changed background color and some components recently</li>
    </ul>
  </main>
</Layout>
