---
import "@styles/global.css";
import Social from "@components/Social.astro";
import Navigation from "@components/Navigation.astro";

interface Props {
    lang: string;
}

const { lang } = Astro.props;

const esLinks = [
    { route: "/", menu: "Inicio" },
    { route: "/now", menu: "Ahora" },
    { route: "/about", menu: "Sobre mí" },
];

const enLinks = [
    { route: "/en", menu: "Home" },
    { route: "/en/now", menu: "Now" },
    { route: "/en/about", menu: "About me" },
];

const socialLinks = [
    { platform: "instagram", username: "isthemartin" },
    { platform: "github", username: "IsTheMartin" },
    { platform: "goodreads", username: "isthemartin" },
];

let links = esLinks;
if (lang == "en") {
    links = enLinks;
}
---

<footer>
    <Navigation lang={lang} />
    <div class="routes">
        {links.map((link) => <a href={link.route}>{link.menu}</a>)}
    </div>
    <div class="social">
        {
            socialLinks.map((link) => (
                <Social platform={link.platform} username={link.username} />
            ))
        }
    </div>
</footer>
