---
import "@styles/global.css";
import PostHeader from "@components/PostHeader.astro";
import PostLayout from "@layouts/PostLayout.astro";
import { getLastPostByLanguage } from "src/functions";

const latestPost = await getLastPostByLanguage("es");
const { Content } = await latestPost.render();
---

<PostLayout title={latestPost.data.title} lang={latestPost.data.lang}>
  <main>
    <PostHeader
      title={latestPost.data.title}
      date={latestPost.data.pubDate}
      lang={latestPost.data.lang}
    />
    <Content />
  </main>
</PostLayout>
