---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import PostHeader from "@components/PostHeader.astro";

const title = "Qué hago en estos momentos?";
const date = new Date("2024-03-27");
const lang = "es";
---

<Layout title={title} lang={lang}>
  <main>
    <PostHeader title={title} date={date} lang={lang} />
    <ul>
      <li>
        Continuo en el proyecto de <a href="https://www.royalcaribbean.com/"
          >cruceros</a
        >
      </li>
      <li>
        Sobreviviendo al sentimiento post-viaje (quiero viajar de nuevo 🥲)
      </li>
      <li>
        La primera ronda del torneo de volleyball ha terminado, somos líderes y
        estamos esperando el siguiente partido. Nos hemos registrado a un torneo
        de primavera.
      </li>
      <li>
        Terminando <a
          href="https://www.goodreads.com/book/show/18815087-c-mo-ganar-amigos-e-influir-sobre-las-personas"
          >Como Ganar Amigos e Influir sobre las Personas</a
        >
      </li>
      <li>Operación Kasacho (esperando tercer intento)</li>
      <li>
        Sigo desarrollando este sitio, cambié un poco la apariencia y agregué
        nuevas páginas
      </li>
      <li>Conseguí una entrada para el Talent Land de este año (en Abril)</li>
    </ul>
  </main>
</Layout>
