---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import PostHeader from "@components/PostHeader.astro";

const title = "Qué hago en estos momentos?";
const date = new Date("2024-03-14");
const lang = "es";
---

<Layout title={title} lang={lang}>
  <main>
    <PostHeader title={title} date={date} lang={lang} />
    <ul>
      <li>
        Continuo en el proyecto de <a href="https://www.royalcaribbean.com/"
          >cruceros</a
        >
      </li>
      <li>Viajando a Cuetzalan (mi nuevo lugar favorito? contaré mis experiencias)</li>
      <li>
        El equipo de volley sigue invicto, hemos encontrado un sitio donde podemos entrenar sin distracciones. Un nuevo torneo está por comenzar
      </li>
      <li>
        Leyendo <a href="https://www.goodreads.com/book/show/18815087-c-mo-ganar-amigos-e-influir-sobre-las-personas"
          >Como Ganar Amigos e Influir sobre las Personas</a
        >
      </li>
      <li>Operación Kasacho (esperando segundo intento)</li>
      <li>Sigo desarrollando este sitio. Recientemente cambié el color de fondo y algunos componentes</li>
    </ul>
  </main>
</Layout>
