---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import PostHeader from "@components/PostHeader.astro";

const title = "Qué hago en estos momentos?";
const date = new Date("2024-03-12");
const lang = "es";
---

<Layout title={title} lang={lang}>
  <main>
    <PostHeader title={title} date={date} lang={lang} />
    <ul>
      <li>
        Continuo con el <a href="https://www.royalcaribbean.com/"
          >proyecto de los cruceros</a
        >
      </li>
      <li>Planeo mi siguiente viaje a un lugar muy especial</li>
      <li>
        El equipo sigue invicto en el torneo de volleyball. Quedan tres partidos
        para terminar la primera ronda
      </li>
      <li>
        Leyendo <a
          href="https://www.goodreads.com/book/show/147483.Rebeli_n_en_la_granja"
          >Rebelión en la granja</a
        >
      </li>
      <li>Operación Kasacho (primer intento fallido)</li>
      <li>Sigo con mejoras para este sitio</li>
    </ul>
  </main>
</Layout>
