---
import "@styles/global.css";
import MinimalLayout from "@layouts/MinimalLayout.astro";
import { getPostsByLanguage } from "src/functions";
import FormattedShortDate from "@components/FormattedShortDate.astro";
import Home from "@components/Home.astro";

const lang = "es";
const title = "Mis posts";

const posts = await getPostsByLanguage(lang);
---

<MinimalLayout title={title} lang={lang}>
  <main>
    <Home title={title} lang={lang} />
    <nav class="posts-container">
      {
        posts.map((post) => (
          <a href={`/${post.slug}`} class="post-item">
            <div class="post-item">
              <p>{post.data.title}</p>
              <FormattedShortDate date={post.data.pubDate} lang={post.data.lang} />
            </div>
          </a>
        ))
      }
    </nav>
  </main>
</MinimalLayout>
